@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 1em;
  margin: 0;
  border-radius: 50%;
  border: var(--color-dark-gray) solid 3px;
  width: 20%;
  max-width: 120px;
  height: auto;
  background: var(--color-light-accent);
  background: var(--color-light-accent-gradient);

  @nest & svg {
    stroke: white;
    transition: stroke 0.15s;
  }

  @nest & :hover {
    stroke: var(--color-light-gray);
  }
}
