@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  max-width: 350px;
  @nest & > label {
    display: inline-block;
    width: 100%;
    font-size: 0.5em;
  }
}

.headline {
  font-size: 1.3rem;
  margin-bottom: -8px;
}

.feild {
  font-size: 1.3rem;
  background: var(--color-light-accent);
  background: var(--color-light-accent-gradient);
  background-size: 200% 200%;
  background-position: 68% 0%;
  color: var(--color-white);
  width: 100%;
  border: var(--color-dark-gray) solid 2px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  @nest &:focus {
    border: var(--color-gray) solid 2px;
    background-position: 33% 100%;
    animation: slide 0.8s ease-in-out;
  }
  @nest &::placeholder {
    color: var(--color-white);
  }
}

@keyframes slide {
  0% {
    background-position: 68% 0%;
  }
  100% {
    background-position: 33% 100%;
  }
}

.button {
  width: 30%;
  display: block;
  margin: 0 auto;
}
